#loader{
  position:absolute;
  left:43%;
  z-index: 110;

  bottom: 40%;
    img {
      width: 9em;
      height: 9em;
    }

    p{
      padding-top: 0em;
      margin-top: 0em;
      color: white;
      font-weight: 600;
      font-size: larger;
    }
  }